.ProductList {
    width: 100%;

  }
  
  .ProductList ul {
    position: relative;
  
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .ProductList li {
  
    height: 43vh;
     margin: 10px; 
    width: 48%;
    
 
  }

  