.Product {
    position: relative;
    height: auto;
    width: 100%;
    border: 1px solid rgb(138, 233, 255);
    border-radius: 15px;
    background: aliceblue;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .Product:hover {
    transform: scale(1.02);
  }
  
  .image img {
    max-width: 200px;
    max-height: 200px;
  }
  
  .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
  }
  
  .ratingNumber {
    font-weight: bold;
  }
  
  .titlePrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
  }
  
  .rightSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .description {
    text-align: right;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
  